.main
  .logo
    h1 Superpowers
    .tagline!= t("home:tagline")
  .news= t("common:states.loading")
.sidebar
  .chatrooms
    header= t("home:chatrooms.title")
    ul
      li
        a(href="#",data-channel="#superpowers-html5")= t("home:chatrooms.en")
      li
        a(href="#",data-channel="#superpowers-html5-fr")= t("home:chatrooms.fr")
  .links
    header= t("home:links.title")
    ul
      li
        a(href="http://docs.superpowers-html5.com/")= t("home:links.documentation")
      li
        a(href="http://itch.io/engine/superpowers/community")= t("home:links.forums")
      li
        a(href="https://patreon.com/SparklinLabs")= t("home:links.patreon")
      li
        a(href="https://github.com/superpowers")= t("home:links.openSource")
      li
        a(href="ts3server://ts.superpowers-html5.com")= t("home:links.teamSpeak")
