doctype html
html
  head
    meta(charset="utf-8")
    title Superpowers
    link(rel="stylesheet",href="index.css")
  body
    .sidebar
      .servers-buttons.flat-button-strip
        button.add-server(title=t("sidebar:servers.add"), disabled,data-hotkey="control+N")
        button.edit-server(title=t("sidebar:servers.edit"),disabled)
        button.remove-server(title=t("sidebar:servers.remove"),disabled)

      .servers-tree-view
      .local-server
        .status= t("server:status.stopped")
        button.start-stop= t("server:buttons.start")
        button.settings= t("server:buttons.settings")
    .resize-handle.left

    .main
      .tabs-bar
        ol.tab-strip
          li(data-name="home").active.pinned
            img.icon(src="images/tabs/home.svg")
      .panes
        .home.active(data-name="home")
          include home/index
        .server-settings(data-name="server-settings",data-persist="true")
          include serverSettings/index

    .loading
      .splash(hidden)
        img(src="images/superpowers-256.png")
        .status=t("startup:startingUp")
        .progress(hidden)
          progress
      .version

    script(src="index.js")
